.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.filtro{
  -webkit-filter: sepia(0.5);
  -moz-filter: sepia(0.5);
}
  
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 100px) {
  .fullscreen-bg {
    background: url('../img/cielo.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: inline;
  }
}

.navbar-custom {
  position: relative;
  height: 56px;
  z-index: 998; 
  
}
  .navbar-custom div {
    position: fixed; }

.acomodo{
  position: fixed;
  bottom: 0;
}

.navbar-fixed {
  position: relative;
  height: 56px;
  z-index: 998; 
bottom: 0; 
}
  .navbar-fixed nav {
    position: fixed; 
    bottom: 0;
  }

.transparente{
  opacity: 0.8;
}

.lucido{
  opacity: 1;
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 200px; }

.parallax-container-contact {
  position: relative;
  overflow: hidden;
  height: 80px; }

.mdi-grandes{
  font-size: 70px;
}

.mdi-grandes-2{
  font-size: 150px;
}

.hola{
  font-size: 16px;
  font-weight: 300;
}

.top-form{
  padding-top: 20px;
}

.direccion-text{
  font-size: 20px;
  font-weight: 300;
}

.direccion-m{
  font-size: 20px;
}

.pad-contacto{
  padding-top: 20px;
}

.espacio{
  font-weight: 300;
}

.top-title{
  padding-top: 35px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.controls-jq{
  font-size: 40px !important;
  padding-right: 15px;
  padding-top: 15px;
}

.padding-under{
  margin-bottom: 20px !important;
}

.logos-mobile{
  font-size: 30px;
}

.max-img{
  max-height: 300px !important;
}

/*sobreescritura*/

nav ul li:hover {
        background-color: rgba(0, 0, 0, 0.1); }

 nav ul li.active{
        background-color: rgba(255, 255, 255, 0.9);
        color: #000 !important;
 }


    nav ul a {
      font-size: 1rem;
      color: #fff;
      display: block;
      padding: 0 15px; }

nav .nav-wrapper i {
      display: block;
      font-size: 3rem; }

nav ul a {
      font-size: 1.5rem;
      font-weight: 200;
      color: #fff;
      display: block;
      padding: 0 15px; }

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 00px; }

.encabezado{
  padding-top: 10px;
  font-size: 30px;
  font-weight: 200;
  line-height: 0;
  color: white;
}

.encabezado-2{
  font-size: 60px;
  font-weight: 200;
  line-height: 0;
  color: white;
}

.text-pro{
  font-size: 12px;
  font-weight: 200;
}

.text-serv{
  font-size: 16px;
  font-weight: 300;
}

.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0px 0rem;}

.logo-img{
  height: 64px;
  width: 100%;
}

@media (max-width: 601px){
  .logo-img{
    height: 54px;
    width: 100%;
  }
}

/*svg*/

.fondo-top{
  background-image: url("../img/noche.jpg");
}

.svg{
  fill: #ffffff;
}

.fondo-svg{
  background-color: #fff;
}

.sin-fondo{

}

.padding-all-i{
  padding: 10px 10px;
}

.circle-active{
  border-radius: 50%;
  background-color: #f1d32e;
}


.container-mobile {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%; }

@media only screen and (min-width : 601px) {
  .container-mobile {
    width: 93%; } }

@media only screen and (min-width : 993px) {
  .container-mobile {
    width: 95%; } }
